@font-face{
    font-family: 'Forum';
    src:url(../fuentes/Forum-Regular.ttf);
    font-family: 'Coconat';
    src:url(../fuentes/Coconat-Regular.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&display=swap');

body{
    background-color:#eae6dc;
}


.bg-body-tertiary {
    background-color:#eae6dc !important;
}

.navFont{
    font-family: 'Coconat';
    font-style:normal;
    color: #c34726 !important;
    font-size: 16px;
    margin-right: 120px;
}

.navbar{
    --bs-navbar-padding-y: 0rem;
    height: 115px;
}

.buttonFont{
    font-family: 'coconat';
    color: #eae6dc !important;
    font-size: 16px;
}

.nav-item a:hover{
    text-decoration:underline;
    text-decoration-thickness: 1.5px;
}

.btn-outline-success{
    --bs-btn-color: #c34726;
    --bs-btn-border-color: #c34726;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #823c28;
    --bs-btn-hover-border-color: #823c28;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn{
    --bs-btn-bg: #c34726; 
    border-radius: 50px 50px 50px 0;
    margin-right: 20px;
}

.navbar-brand{
    margin-left: 20px;
}

.underline{
    text-decoration:underline !important;
}

.footer{
    list-style: none;
}

footer{
    height: 160px;
    background-color: #823c28;
}

.footerFont{
    font-family: 'Coconat';
    font-size: 14px;
    text-decoration: none;
    color: #eae6dc;
    margin: 60px;
}

.icon{
    height: 38px;
    margin-right: 80px;
}

.footerButton{
    height: 40px;
    width: 110px;
    border: 1.5px solid #eae6dc;
    border-radius: 50px 50px 50px 0;
    background-color: #eae6dc;  
    margin-left: 30px;
}

.footerButtonText{
    font-family: 'coconat';
    font-size: 14px;
    text-decoration: none;
    color:  #823c28;
}

.footerButton:hover{
    background-color:#f1d4a3;
    border: 1.5px solid #f1d4a3;
}

.whiteText{
    color: #eae6dc !important; 
    font-size: 14px !important;
    margin: 60px !important;
}

.errorSection{
    margin-top: 115px;
    background-image: url(../images/error_background.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titleText{
    font-family:'Coconat';
    color: #eae6dc;
    font-size: 60px;
    margin-bottom:60px;
}

.longText{
    font-family:'Coconat';
    color: #eae6dc;
    font-size: 38px;
    margin-bottom:60px;
}

.backButton{
    height: 50px;
    width: 130px;
    border: 1.5px solid #eae6dc;
    border-radius: 50px 50px 50px 0;
    background-color: #eae6dc;  
    margin-left: 30px;
}

.backButtonText{
    font-family: 'coconat';
    font-size: 14px;
    text-decoration: none;
    color:  #c34726;
}

.backButton:hover{
    background-color:#f1d4a3;
    border: 1.5px solid #f1d4a3;
}

.redText{
    color:  #c34726 !important;
}

.whiteTextButton{
    color:#eae6dc !important;
    text-decoration: none !important;
}

.footer img:hover{
    transform: scale(1.2,1.2);
}